//Size screen
$desktopWidth            : 1280px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

//Size buttons
$widthButton			: 20px;
$smWidthBtn				: 15px;
$phoneWidthBtn			: 10px;
