@import '../utils/variables';
@import '../utils/fonts';

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7vh;
	padding-left: 30px;
	background-color: $colorDark;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&-title {
		&-link {
			color: $colorLight;
			@include fontFamily(700);
			text-decoration: none;
		}
	}
}
