@import '../utils/variables';
@import '../utils/utils';

.pagination {
	width: 100%;
	&-list {
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
		&-item {
			width: 40px;
			height: 40px;
			&-btn {
				width: 100%;
				height: 100%;
				border: none;
				background: none;
				@include btnConstructor($colorLight, $colorDark, 0px);
				&:hover {
					background-color: $colorPrimary;
					color: $colorLight;
				}
				&:disabled {
					background-color: rgba($color: $colorDark, $alpha: 0.3);
					&:hover {
						color: $colorDark;
					}
				}
				&.active {
					background-color: $colorPrimary;
					color: $colorLight;
				}
			}
		}
	}
}
