//size screen
$widthContainerEl: 1140px;
$widthContainerLarge: 960px;
$widthContainerMedium: 720px;
$widthContainerSmall: 100%;

//font size title
$fontSizeHyperBig: 64px;
$fontSizeTitleEl: 32px;
$fontSizeTitleLarge: 28px;
$fontSizeTitleMedium: 24px;
$fontSizeTitleSmall: 18px;

//font size main
$fontSizeMainEl: 18px;
$fontSizeMainLarge: 16px;
$fontSizeMainMedium: 14px;
$fontSizeMainSmall: 12px;

//color buttons
$colorPrimary: #007bff;
$colorSuccess: #28a745;
$colorDanger: #dc3545;
$colorWarning: #ffc107;

//border input
$borderStyle: 1px solid #ced4da;

//Other colors
$colorDark: #24292e;
$colorLight: #ffffff;
$colorBeige: #ffeec1;
